/* Общие стили для полей */
input[type="text"], input[type="tel"], input[type="number"], input[type="date"], input[type="time"], select, textarea {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Индивидуальные стили для полей */
#name {
    width: 300px; /* Ширина поля имени */
}

#phone {
    width: 200px; /* Ширина поля телефона */
}

#email {
    width: 300px; /* Ширина поля email */
}

#event-date {
    width: 200px; /* Ширина поля даты */
}

#event-time {
    width: 200px; /* Ширина поля времени */
}

#quantity {
    width: 100px; /* Ширина поля количества */
}

#package {
    width: 300px; /* Ширина поля выбора пакета */
}

#comments {
    width: 100%; /* Ширина поля комментариев */
}
/* Стили для подгрупп и номенклатур */
#package-items {
    margin-top: 20px;
}

.subgroup {
    margin-bottom: 20px;
}

.subgroup h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.subgroup div {
    margin-bottom: 5px;
}

.subgroup input[type="checkbox"] {
    margin-right: 10px;
}

.hidden {
    display: none;
}
